[Unit]
Description=Notify user by {{ item.notification_method }} about %i

[Service]
Type=oneshot
Environment="LC_ALL=en_US.UTF-8"
Environment="LANG=en_US.UTF-8"
ExecStart=/usr/bin/apprise_notify_{{ item.name }}_{{ item.notification_method }} %i
User=root
Group=systemd-journal
